@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300;500&family=Raleway:wght@500&display=swap");

:root {
  --lightblue: #7ec5f2;
  --blue: #004a6e;
  --deswhite: #c1c2c7;
  --white: #ffffff;
  --yellow: rgb(255, 211, 67);
}

body {
  background-color: var(--white);
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
.main-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.system-container {
  width: 80vw;
  padding: 1rem 3rem;
  height: 80vh;
  background-color: var(--blue);
  /* border-radius: 0.5rem; */
  position: relative;
}
